sudo: required
services:
  - docker
language: python
python:
  - "2.7"
env:
  matrix:
    - IMAGE=centos7
install:
  - pip install -r test-requirements.txt
script:
  - ./run-tests.py test $IMAGE -- -v
