{% import_yaml 'saemref/defaults.yaml' as default_settings %}

{% set saemref = salt['pillar.get'](
    'saemref',
    default=salt['grains.filter_by']({
        'Debian': {
            'supervisor_conffile': '/etc/supervisor/conf.d/saemref.conf',
            'supervisor_service_name': 'supervisor',
        },
        'RedHat': {
            'supervisor_conffile': '/etc/supervisord.d/saemref.ini',
            'supervisor_service_name': 'supervisord',
        },
        'base': default_settings.saemref,
    }, grain='os_family', base='base', merge=salt['pillar.get']('saemref:lookup')),
    merge=True)
%}

{% set is_docker_build = (salt['cmd.retcode']('/bin/sh -c "(readlink -f /sbin/init | grep -q systemd) && ! (readlink -f /proc/1/exe | grep systemd)"') == 0) %}

{% set session_secure = 'true' if salt['pillar.get']('saemref:lookup:instance:base_url').startswith('https://') else 'false' %}
