{% import_yaml 'saemref/defaults.yaml' as default_settings %}

{% set os_family_map = salt['grains.filter_by']({
        'Debian': {},
        'RedHat': {},
  },
  grain="os_family",
  merge=salt['pillar.get']('saemref:lookup'))
%}

{% do default_settings.saemref.update(os_family_map) %}

{% set saemref = salt['pillar.get'](
        'saemref',
        default=default_settings.saemref,
        merge=True,
    )
%}

{% if grains['os_family'] == 'RedHat' %}
    {% set supervisor_confdir = '/etc/supervisord.d/' %}
    {% set supervisor_conffile = [supervisor_confdir, 'saemref.ini']|join('/') %}
    {% set supervisor_service_name = 'supervisord' %}
{% else %}{# Debian #}
    {% set supervisor_confdir = '/etc/supervisor/conf.d' %}
    {% set supervisor_conffile = [supervisor_confdir, 'saemref.conf']|join('/') %}
    {% set supervisor_service_name = 'supervisor' %}
{% endif %}

{% set is_docker_build = (salt['cmd.retcode']('/bin/sh -c "(readlink -f /sbin/init | grep -q systemd) && ! (readlink -f /proc/1/exe | grep systemd)"') == 0) %}
